* {
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 325px;
    width: 850px;
    background-color: rgb(212, 234, 222);
    position: relative;
    
    
    
}


/* FONDO AZUL */
.div-1 {
    
    
    width: 810px;
    height: 305px;
   
    background-color: rgb(109, 188, 205);
    color: rgb(252, 252, 252);
    position: relative;
    top: 20px ;
    left: 20px;

}
/* BEAUTY OF DESIGN */
h1 {
    position: absolute;
    bottom: 10%;
    left: 4%;
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Anton', sans-serif;
}
/* MAQUETACION */
.div-2  {

    height: 80px;
        width: 500px;
        color:rgb(246, 170, 133);
        background-color: rgb(232, 39, 64);
        position: absolute;
     top: 5%;
     left: 2%;
     padding-top: 10px;
     text-align: center;

     font-size: 50px;
        
    }
/* MAQUETACION */


    
/* CUADRADO AMARILLO */
.div-3 {
    height: 260px;
    width: 240px;
    background-color: rgb(232, 239, 143);
    color: grey;
    position: absolute;
    left: 570px;
    top: 45px;
    padding-left: 40px;
    padding-top: 30px;
  
}

.div-4 {

    height: 325px;
    width: 230px;
    background-color: black;
    opacity: 0.8 ;
    position: absolute;
   bottom: 0px;
   left: 100%;
   transform: translate(-100%);
  
}